* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 92.5px;
  background-color: rgb(0, 0, 0);
}

.saltImg {
  width: 165px;
  height: 76px;
  margin: 8px 0px 0px 62px;
  cursor: pointer;
}

.sidha {
  display: inline;
  margin-left: 360px;
  top: 35px;
  color: white;
  position: absolute;
}

.bt {
  margin-left: 35px;
  margin-top: 20px;
  cursor: pointer;
}
.btn1 {
  font-size: small;
  margin-left: 15px;
  border: 1px solid white;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.btn2 {
  font-size: small;
  margin-left: 6px;
  padding: 18px 51px 18px 21px;
  border-radius: 50px;
  background-color: rgb(231, 0, 0);
  cursor: pointer;
}
.img1 {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-top: -5px;
  border-radius: 100px;
  cursor: pointer;
}

.mainImg {
  width: 100%;
  height: auto;
}

/* ============== */

.container1 {
  width: 100%;
  height: 600px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}

.pera1 {
  color: white;
  font-size: 35px;
  text-align: center;
}
.inPera {
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.pera2 {
  color: white;
  font-size: 35px;
  text-align: center;
  position: absolute;
  margin-left: 440px;
  margin-top: -40px;
}

.pera3 {
  color: rgb(188, 185, 185);
  margin-top: 50px;
  text-align: center;
}

/* main div images */
.images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

/* in div images */
.imgL1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.imgL2 {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.imgL3 {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.imgL4 {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

/* images */

.inImg1 {
  width: 210px;
  height: 110px;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.inImg2 {
  width: 210px;
  height: 110px;
  padding: 15px 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.inImg3 {
  width: 210px;
  height: 110px;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.inImg4 {
  background-color: white;
  width: 210px;
  height: 110px;
  padding: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-right: 20px;
  margin-top: 10px;
  color: white;
}
.btn {
  border: 1px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
}

